@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import "tailwindcss";

@plugin "daisyui" {
  themes: light;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #ffffff;
  color: #111111;
}

.active {
  background: #FF1F3D;
  color: white;
}
